@import "tailwindcss";

:root {
    --color-teal-400: #4ECDC4;
    --color-pink-500: #EE4266;
    --color-pink-600: #b92c4b;
    --color-white: #F7FFF7;
    --color-white-10: rgba(255, 255, 255, 0.1);
    --color-black-alpha-10: rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--color-white);
}


.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}